body{
    margin: 0;
    background: #e4e4e4;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
}
.pallete button{
    outline: none;
    border: none;
    padding: 0.7em 2em;
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translate(-50%);
    border-radius: 2em;
    background-color: #1f1f1f;
    color: #fff;
    font-weight: 500px;
    letter-spacing: 2px;
    cursor: pointer;
    transform: 0.4s;
    text-transform: capitalize;
}
.pallete button:hover{
    background: #fff;
    color: #1f1f1f;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.pallete{
    position: relative;
    background-color: #fff;
    width: 60em;
    height: 25em;
    border-radius: 20px;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #1f1f1f;
    padding-top: 5em;
    box-sizing: border-box;
}
.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    height: 100%;
    border-radius: 20px;
}
.colors > div{
    width: 25%;
}
.color{
    background: #ccc;
    height: 17em;
    width: 100%;
}
.colors h4{
    font-size: 0.9em;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 0.4s ease-in;
}

@media screen and (max-width:900px){
    body{
        padding: 2em;
    }
    .pallete{
        height: initial;
    }
    .colors{ flex-direction: column;}
    .colors > div{ width: 100%;}
}
@keyframes fadeIn {
    to {opacity: 1,}
}